.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}



.row_one{
	min-height: 400px;
	width: 100%;
}


video {
  max-width: 100%;
  height: auto;
}


/* .hero_image{
	background-image: url("../assets/cover.mp4");
  background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.78;
	min-height: 400px;

} */

.nav_links{
	font-family: "Raleway", sans-serif;
	font-size: 22px;
	padding: 24px;
	width: 100%;
	background-color: black;
	min-height: 20px;

}

.nav_link{
	padding-left: 10px;
	padding-right: 15px;
	color: white;
}

.img_wrapper{
	position: relative;
	width: 100%;
}

.img_position{
	position: absolute;
	top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;

}
.square_image{
	width: auto;
  	height: 100%;
  	margin-left: 0px;
  	opacity: 1;

}


.square_sizing{
	width: 350px;
  	height: 350px;
    /* margin-top: 350px;
    height: 450px; */ */
  	overflow: hidden;
    border: 2px solid white;
 	/* border-radius: 50%; */
}

.featured_image_box {
  width: 250px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);


}

.row_two{
	min-height: 400px;
	width: 100%;
}

.my_container{
	width: 85%;
	margin: 0 auto;
  justify-content: center;
}

h1{
  margin-top: 100px;
}
.spacer{
  margin-top: 40px;
}

.row_two_title{
	font-family: "Raleway", sans-serif;
	/* padding-top: 150px; */
	text-align: center;
	/*color: #33001a;*/
	color: orange;

}

@media screen and (max-width: 700px){
  .row_two_title{
    font-size: 32px;
  }
}

.row_two_sub_title{
	font-family: "Raleway", sans-serif;
	text-align: center;
	font-size: 16px;
	/*color: #33001a;*/
}

.row_two_text{
	font-family: "Raleway", sans-serif ;
	font-size: 16px;
	text-align: center;
	padding-top: 20px;
	/*color: #33001a;*/
	width: 60%;
	margin: 0 auto;
	line-height: 1.7;
}

@media screen and (max-width: 700px){
  .row_two_text{
    font-size: 14px;
    width: 80%;
  }
}

.skillshare_image_center{
  text-align: center;
  margin-top: 30px;

}

.skillshare_image{
  width: 60%;
}

.row_three{
	min-height: 400px;
	width: 100%;
}



.project_section_title{
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	padding: 30px;
	text-align: center;
	/*color: #33001a; */
	color: orange;
}
@media screen and (max-width: 700px){
  .project_section_title{
    font-size: 22px;
  }
}

.card_wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
  align-items: center;
}

/* .card_float{
	float: left;
} */

.card{
	width: 210px;
}

.card-image{
  min-height: 125px;
}

.articles_section_title{
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	padding-top: 20px;
	text-align: center;
	color: orange;

}

.articles_wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: none;
	padding-top: none;
	margin: 0 auto;
}


.card-panel{
	width: 250px;
}


.footer{
	min-height: 250px;

}

.contact_section_title{
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	padding-top: 20px;
	text-align: center;
  margin: 0 auto;
	/*color: #33001a; */
	color: orange;
}


.media_links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: none;
	padding-top: none;
	margin: 0 auto;
}

.media_link{
	float: left;
	height: 65px;
	width: 65px;
	padding: 10px;

}

.contact_section_text{
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	padding-top: 20px;
	text-align: center;
}

.resume-header{
height: 60px;
width: 100%;
}

.resume-title{
  padding-top: 50px;
}

.resume-frame{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
